body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo {
  font-family: 'Krona One', sans-serif;
  font-size: 40px;
  color: #1506fa;
}

.App {
 margin-top: -3vh;
  display: flex;
  justify-content: center;
 padding: 50px;
 border-radius: 20px;
}

.grafico{
  width: 500px;
  border: 1px solid white;
  border-radius: 50px;
  position: fixed;
  font-size: 50px;
}

.status { 
  margin-top: 420px;
  background-color: aliceblue;
  color:black;
  width: 700px;
  position: fixed;
  border-radius: 20px;

}

.status{
  text-align:center;
  font-family: 'Krona One', sans-serif;
  font-size: 15px;
}

.status h3
{
  color: #1506fa;

}

.valor {
  display: flex;
}


.valor .att{
 
  padding: 10px;
  width: 122px !important;
 
}

h1 {
  color: #0a0667;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

.direito{
  margin-top:5px ;
  display: flex;
  width: 50%;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
}


.esquerdo{
  width: 50%;
 display: flex;
 flex-wrap: wrap;
 border-radius: 20px;
 padding: 10px;
justify-content: center;

}

.card {
  border: 1px solid black;
  width: 217.5px;
  margin: auto;
  text-align: center;
  background-color: white;
  padding: 20px;
  color: white;
  height: 352.5px;
  font-weight: bolder;
  margin: 20px;
  background-image: url('./bg.jpg') ;
  background-size: cover;
  border: 0.1px solid white;
  box-shadow: 2px 2px 35px #1008a8;
}

.card div{
  font-size: 35px;
  margin-top: -396px;
  position: relative;
  width: 40px;
  height: 392.5px;
  color: #1008a8;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 50px blue;
}
.card img{
  width: 100%;
  height: 100%;
  margin-top: 20px;
  
} 